@page "/Post/{postId:int}"
@using BlazorApp.Services
@using DTOs
@inject IPostService PostService
@inject ICommentService CommentService
@inject NavigationManager NavigationManager
@inject IUserService UserService

@if (post == null)
{
    <p>Loading post...</p>
}
else
{
    <h5>@post.Title</h5>
    <p><strong>Author:</strong> @post.Author</p>
    <p><strong>Body:</strong> @post.Body</p>

    <h6>Comments</h6>
    @foreach (var comment in comments)
    {
        <p><strong>@comment.Author:</strong> @comment.Body</p>
    }


@code {
    private IEnumerable<CommentDto> comments = new List<CommentDto>();
    
   

    [Parameter] public int postId { get; set; }
    private PostDto post;

    protected override async Task OnInitializedAsync()
    {
        post = await PostService.GetPostById(postId);
        comments = await CommentService.GetCommentPost(postId);

    }

}

}